---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
            ul li {
                display: flex;
            }
			ul li a {
                text-decoration: none;
			}
			ul li a:hover {
                text-decoration-line: underline;
                text-decoration-color: var(--rose);
			}
			.title {
				margin: 0 1em;
                padding: 0;
				color: var(--text);
				line-height: 2;
			}
			.date {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<main>
		    <Header />
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
                                <p class="date">
                                    <FormattedDate date={post.data.pubDate} />
                                </p>
								<a href={`/blog/${post.id}/`}>
									<p class="title">{post.data.title}</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
